In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

def download_historic_sector_data(tickers, years=5):
    """
    Downloads historical quarterly data for specified industry sector tickers
    over the last few years.

    Parameters:
    tickers (list of str): List of sector tickers (e.g., XLK for Technology).
    years (int): Number of years of historical data to retrieve.

    Returns:
    dict: A dictionary with ticker symbols as keys and dataframes of quarterly
    data as values.
    """
    # Determine the start date based on the specified number of years
    end_date = datetime.today()
    start_date = end_date - timedelta(days=years*365)

    # Dictionary to store data for each ticker
    sector_data = {}

    for ticker in tickers:
        # Download quarterly data
        stock_data = yf.download(ticker, start=start_date, end=end_date, interval='3mo')
        
        # Store the data
        sector_data[ticker] = stock_data

    return sector_data

# Example usage
tickers = ["XLC", "XLY", "XLP", "XLE", "XLF", "XLV", "XLI", "XLB", "XLRE", "XLK", "XLU"]
data = download_historic_sector_data(tickers, years=3)

# Display data for one sector (e.g., Technology: XLK)
print(data["XLK"])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price                       Adj Close       Close        High         Low  \
Ticker                            XLK         XLK         XLK         XLK
Date
2021-11-01 00:00:00+00:00  157.892441  161.970001  177.039993  146.240005
2022-02-01 00:00:00+00:00  138.120575  141.419998  164.110001  139.750000
2022-05-01 00:00:00+00:00  141.115555  144.220001  149.139999  122.470001
2022-08-01 00:00:00+00:00  125.442627  127.870003  151.860001  112.970001
2022-11-01 00:00:00+00:00  133.708374  135.960007  139.330002  118.220001
2023-02-01 00:00:00+00:00  148.758011  150.830002  151.509995  134.080002
2023-05-01 00:00:00+00:00  176.288269  178.350006  181.460007  146.929993
2023-08-01 00:00:00+00:00  162.453613  164.009995  179.029999  159.500000
2023-11-01 00:00:00+00:00  196.222321  197.679993  206.149994  164.300003
2024-02-01 00:00:00+00:00  195.252563  196.270004  212.350006  192.039993
2024-05-01 00:00:00+00:00  218.025192  218.800003  238.139999  194.220001
2024-08-01 00:00:00+00:00  229.198303  229.610001  234.570007  190.750000
2024-10-30 00:00:00+00:00  229.610001  229.610001  231.809998  229.464996

Price                            Open     Volume
Ticker                            XLK        XLK
Date
2021-11-01 00:00:00+00:00  161.529999  829537200
2022-02-01 00:00:00+00:00  162.190002  776326900
2022-05-01 00:00:00+00:00  141.259995  587199500
2022-08-01 00:00:00+00:00  142.919998  477292700
2022-11-01 00:00:00+00:00  129.460007  415527300
2023-02-01 00:00:00+00:00  135.860001  436282800
2023-05-01 00:00:00+00:00  150.710007  405028200
2023-08-01 00:00:00+00:00  177.770004  419288000
2023-11-01 00:00:00+00:00  164.300003  430975300
2024-02-01 00:00:00+00:00  198.470001  409816300
2024-05-01 00:00:00+00:00  195.220001  319320500
2024-08-01 00:00:00+00:00  218.199997  311496200
2024-10-30 00:00:00+00:00  231.190002    4091878

In [8]:
data['XLC']

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,XLC,XLC,XLC,XLC,XLC,XLC
Date,,,,,,
2021-11-01 00:00:00+00:00,71.818031,73.949997,82.349998,69.480003,80.580002,419627900
2022-02-01 00:00:00+00:00,57.475304,59.060001,76.570000,58.430000,74.000000,419955000
2022-05-01 00:00:00+00:00,54.996933,56.369999,63.090000,52.735001,59.180000,398024800
2022-08-01 00:00:00+00:00,47.149540,48.209999,60.240002,46.473000,55.950001,380689800
2022-11-01 00:00:00+00:00,53.982307,55.080002,55.596001,44.860001,48.840000,371418900
2023-02-01 00:00:00+00:00,58.850780,59.900002,59.910000,51.369999,54.689999,420496000
2023-05-01 00:00:00+00:00,67.769852,68.790001,69.220001,57.430000,59.810001,384464100
2023-08-01 00:00:00+00:00,63.863750,64.720001,68.919998,62.820000,68.419998,396528800
2023-11-01 00:00:00+00:00,75.062897,75.879997,78.389999,64.629997,64.699997,355777300
2024-02-01 00:00:00+00:00,77.210739,77.860001,83.584999,76.324997,76.570000,398421000
2024-05-01 00:00:00+00:00,85.304855,85.790001,87.934998,77.910004,77.970001,243693200
2024-08-01 00:00:00+00:00,92.569046,92.849998,93.919998,81.150002,87.559998,257775800
2024-10-30 00:00:00+00:00,92.849998,92.849998,93.919998,92.745003,93.580002,4864708

In [24]:
list(data.values())[0]

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,XLC,XLC,XLC,XLC,XLC,XLC
Date,,,,,,
2021-11-01 00:00:00+00:00,71.818031,73.949997,82.349998,69.480003,80.580002,419627900
2022-02-01 00:00:00+00:00,57.475304,59.060001,76.570000,58.430000,74.000000,419955000
2022-05-01 00:00:00+00:00,54.996933,56.369999,63.090000,52.735001,59.180000,398024800
2022-08-01 00:00:00+00:00,47.149540,48.209999,60.240002,46.473000,55.950001,380689800
2022-11-01 00:00:00+00:00,53.982307,55.080002,55.596001,44.860001,48.840000,371418900
2023-02-01 00:00:00+00:00,58.850780,59.900002,59.910000,51.369999,54.689999,420496000
2023-05-01 00:00:00+00:00,67.769852,68.790001,69.220001,57.430000,59.810001,384464100
2023-08-01 00:00:00+00:00,63.863750,64.720001,68.919998,62.820000,68.419998,396528800
2023-11-01 00:00:00+00:00,75.062897,75.879997,78.389999,64.629997,64.699997,355777300
2024-02-01 00:00:00+00:00,77.210739,77.860001,83.584999,76.324997,76.570000,398421000
2024-05-01 00:00:00+00:00,85.304855,85.790001,87.934998,77.910004,77.970001,243693200
2024-08-01 00:00:00+00:00,92.569046,92.849998,93.919998,81.150002,87.559998,257775800
2024-10-30 00:00:00+00:00,92.849998,92.849998,93.919998,92.745003,93.580002,4864708

In [ ]:
p